<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SSPT_Calculator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SSPT_Calculator.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">                             
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Login</a>
                        </li>
                    </ul> 
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Stability Test</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="Applicability" >Applicability</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="EnterTestInfo" >Enter Test Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="VCGR" >VCGR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="TestWeight">Test Weight Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="TestWeight">Weight By Deck</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="TestWeight">Vessel Dimensions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="TestWeight">Immersion Mark</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="TestWeight">Wind Heel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="TestWeight">Required Heeling Moment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="TestWeight">Weight Movement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="TestWeight">Final Immersion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="TestWeight">Test Summary</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SSPT - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>